.container{
  width: 100%;
  max-width: 1100px;

  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

img{
  max-width: 100%;
  height: auto;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
margin-left: -50px;

}

/* .gallery-item{

  margin-right: 50px;
  margin-bottom: 50px;
}

 .gallery-item:nth-child(3n){
  padding-right: 50px;

} */

 .gallery-item{
  margin-left: 50px;
  margin-bottom: 50px;
}
.gallery-img{
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.input:focus{
  outline-offset: 3px;
  outline: 2px dashed #000;
}

.input{
  padding: 10px;
  border: 1px solid #000;
  margin: 20px;
}

.input:not(:placeholder-shown){
  border-color: red;
}

.input:valid{
  border-color: blue;
}


input:checked ~ span{
color: blue;
}

/* button-wrapper */
.button-wrapper{
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
}
.butt {
 margin-bottom: 10px;
}
.inspan {
width: 300px;
height: 100px;
margin-bottom: 5px;
border: 1px solid #000;
background-color: green;
}

.span-red{
  background-color: rgb(224, 20, 20);
}


.wrapper{
  margin-left: 400px;
}
.trigger{
margin-bottom: 10px;

}

.demo{
  width: 200px;
  height: 100px;
  border: 1px solid #000;
  margin-bottom: 3px;
}

.demo-green{
background-color: rgb(197, 101, 11);
}